/* COLORS */
$color-blue-light: #1482cc;
$color-blue-dark: #002d77;
$color-orange-dark: #e55d14;
$color-orange-light: #f7a120;
$color-orange-bright: #f79d00;

$color-white: #ffffff;
$color-black: #000000;
$color-grey-light: #d8d8d8;
$color-grey-dark: #2d2d2d;
