*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'Roboto', sans-serif;
}
html {
  //this defines one rem
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}
